* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: Merriweather;
}

.contenar {
  max-width: 1290px;
  margin: 0 auto;
}
.contenar h3 {
  color: #fffdfd;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.contenar h1 {
  color: #fffdfd;
  font-size: 72px;
  font-weight: 800;
}

.banner-text {
  margin: o auto;
  padding-top: 220px;
  text-align: center;
}
header {
  margin-bottom: 120px;
}

#banner-area {
  height: 600px;
  margin-top: 40px;
  border-radius: 16px;
  background-image: url(./resources/Banner\ Image.png);
}

/* categori */

.categories h1 {
  margin: 20px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.categories h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
}

.categories h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
}

.cat-img {
  margin-left: 20%;
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* midnight */

.midnight h1 {
  margin-top: 100px;
  margin-left: 80px;
  color: #fdfdfd;
  font-size: 62px;
  font-weight: 900;
  letter-spacing: 5.04px;
  width: 642px;
}

.midnight h4 {
  color: #fdfdfd;
  font-family: Inter;
  margin-left: 80px;

  margin-bottom: 50px;
  width: 657px;
}

.midnight a {
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  text-transform: uppercase;
  margin-left: 110px;
}

.midnight {
  margin-top: 40px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 180px;
}

#midnight {
  background-image: url(./resources/Vectorrr.png);
  width: 1080px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 12px;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.Group-img img {
  fill: linear-gradient(
    168deg,
    #f2d977 3.29%,
    #e8cb65 8.58%,
    #dab74c 16.5%,
    #d2ab3d 24.43%,
    #cfa738 31.04%,
    #e1c863 48.21%,
    #ffa 77.28%,
    #fefba5 82.57%,
    #faf096 90.5%,
    #f3dd7d 98.42%,
    #eac45a 107.67%,
    #e1ab39 114.28%,
    #d7a136 120.88%,
    #bd882d 130.13%,
    #ac7828 135.42%
  );
}

.hotel {
  margin-bottom: 30px;

  text-align: center;
  margin-top: 500px;
  background-color: #ffeded;
  margin: 0 auto;
  width: 1080px;
  height: 400px;
  flex-shrink: 0;
  fill: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.hotel-text {
  padding-top: 100px;
  color: #070211;
  font-family: Inter;
  font-size: 32px;

  text-transform: capitalize;
}
.hotel span {
  color: #f00;
}
.btn-1 {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
}

.come {
  margin-top: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin: o auto;
  margin-left: 60px;
}
.come-left {
  width: 32%;
  margin: o auto;
  text-align: start;
}
.come-left h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
}

.come-left h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.come-left p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.come-mid {
  width: 40%;
  margin: o auto;
  margin-top: -90px;
}
.come-right {
  width: 30%;
  margin: o auto;
  margin-top: -8px;
}
.come-right h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  margin-left: 20%;
}

.come-right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.come-right svg {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.come-mid img {
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 28px;
}
